*

!/*.js
!/*.json
!/.prettierrc

!/src/
!/src/*/
!/src/**/*/
!/src/*.ts
!/src/*.tsx
!/src/**/*.ts
!/src/**/*.tsx

!/types/
!/types/*/
!/types/**/*/
!/types/*.ts
!/types/*.tsx
!/types/**/*.ts
!/types/**/*.tsx

!/jest-mocks/
!/jest-mocks/*/
!/jest-mocks/**/*/
!/jest-mocks/*.ts
!/jest-mocks/*.tsx
!/jest-mocks/**/*.ts
!/jest-mocks/**/*.tsx

